<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h4>Basic Usage</h4>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-list>
  
  <h4>No Lines</h4>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-list>
  
  <h4>Inset List</h4>
  <ion-list inset>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-list>
  
  <h4>List Dividers</h4>
  <ion-item-group>
    <ion-item-divider color="light">A</ion-item-divider>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">B</ion-item-divider>
    <ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</ion-item>
  </ion-item-group>
  
  <h4>List Headers</h4>
  <ion-list>
    <ion-list-header>AAA</ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-list>
  <ion-list>
    <ion-list-header>BBB</ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">{{ item }}</button>
  </ion-list>
  
  <h4>Icon List</h4>
  <ion-list>
    <ion-list-header>Classes</ion-list-header>
    <ion-item>
      <ion-icon name="planet" item-start></ion-icon>
      Astronomy
      <ion-note item-end>To the moon</ion-note>
    </ion-item>
    <ion-item>
      <ion-toggle checked="false"></ion-toggle>
      <ion-label>Muggle Studies</ion-label>
      <ion-icon name="body" item-start></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="leaf" item-start></ion-icon>
      Herbology
      <ion-icon name="rose" item-end color="secondary"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="flask" item-start></ion-icon>
      Herbology
      <ion-note item-end></ion-note>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>Activities</ion-list-header>
    <ion-item>
      Incantation
      <ion-icon name="color-wand" item-start></ion-icon>
      <ion-icon item-end>Crucio!</ion-icon>
    </ion-item>
    <ion-item>
      <ion-toggle checked="true"></ion-toggle>
      <ion-label>Quiddith Practice</ion-label>
      <ion-icon name="brush" item-start></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="wine" item-start></ion-icon>
      Mead Drinking
      <ion-note item-end>Yes please</ion-note>
    </ion-item>
  </ion-list>
  
  <h4>Avatar List</h4>
  <ion-list>
    <ion-list-header>Today</ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>Woody</h2>
      <p>This twon ain't big enough for the two of us!</p>
      <ion-note item-end>3:43 pm</ion-note>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar-ts-buzz.png">
      </ion-avatar>
      <h2>Buzz Lightyear</h2>
      <p>My eyeballs could have been sucked from their sockets!</p>
      <ion-note item-end>1:12 pm</ion-note>
    </ion-item>
  </ion-list>
  
  <h4>Multi-line List</h4>
  <ion-list>
    <ion-list-header>Today</ion-list-header>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>Woody</h2>
      <h3>hahaha</h3>
      <p>This twon ain't big enough for the two of us!</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar-ts-buzz.png">
      </ion-avatar>
      <h2>Buzz Lightyear</h2>
      <h3>xixixixi</h3>
      <p>My eyeballs could have been sucked from their sockets!</p>
    </ion-item>
  </ion-list>
  
  <h4>Sliding List</h4>
  <ion-list>
    <ion-list-header>Today</ion-list-header>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/img/avatar-ts-woody.png">
        </ion-avatar>
        <h2>Woody</h2>
        <h3>hahaha</h3>
        <p>This twon ain't big enough for the two of us!</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start>
          <ion-icon name="ios-more"></ion-icon>
          More
        </button>
        <button ion-button color="primary" icon-start>
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item-sliding>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar-ts-buzz.png">
        </ion-avatar>
        <h2>Buzz Lightyear</h2>
        <h3>xixixixi</h3>
        <p>My eyeballs could have been sucked from their sockets!</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="light" icon-start>
          <ion-icon name="ios-more"></ion-icon>
          More
        </button>
        <button ion-button color="primary" icon-start>
          <ion-icon name="text"></ion-icon>
          Text
        </button>
        <button ion-button color="secondary" icon-start>
          <ion-icon name="call"></ion-icon>
          Call
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <h4>Thumbnail List</h4>
  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/img/avatar-ts-woody.png">
      </ion-thumbnail>
      <h2>Woody</h2>
      <p>This twon ain't big enough for the two of us!</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/img/avatar-ts-buzz.png">
      </ion-avatar>
      <h2>Buzz Lightyear</h2>
      <p>My eyeballs could have been sucked from their sockets!</p>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
